{{ "<!-- Hero -->" | safeHTML }}
<header>
  <div class="container">
    <div class="intro-text d-flex justify-content-around align-items-center flex-wrap">
      <div class="title1"><img src="img/dataton2021-transparente.png"></div>
      <div class="meta text-left">
        <div class="description">{{ .Site.Params.description}}</div>
        <ul>
          <li class="fecha">Fecha: 2 al 5 de diciembre de 2021</li>
          <li class="sede">Formato: Virtual</li>
        </ul>
      </div>
    </div>
  </div>

</header>